certifi==2026.2.25
dataclasses-json==0.6.7
Deprecated==1.3.1
ifcopenshell==0.8.4.post1
isodate==0.7.2
lark==1.3.1
laspy==2.7.0
laszip==0.3.0
llvmlite==0.46.0
lz4==4.4.5
mapbox_earcut==1.0.3
marshmallow==3.26.2
mypy_extensions==1.1.0
numba==0.63.1
numpy==2.2.6
packaging==26.0
plyfile==1.1.3
psutil==7.2.2
psycopg2-binary==2.9.11
pygltflib==1.16.5
pyproj==3.7.1
python-dateutil==2.9.0.post0
pyzmq==27.1.0
shapely==2.1.2
six==1.17.0
typing-inspect==0.9.0
typing_extensions==4.15.0
wrapt==2.1.1
